.background_image{
    background-image: url('https://source.unsplash.com/1600x900/?japan');
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-attachment: absolute;
}

.darker{
    color: black;
}